@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 253 48% 99%;
    --foreground: 253 78% 4%;
    --muted: 223 38% 94%;
    --muted-foreground: 223 8% 39%;
    --popover: 240 100% 99.22%;
    --popover-foreground: 253 78% 3%;
    --card: 253 100% 99.12%;
    --card-foreground: 253 78% 3%;
    --border: 253 6% 89%;
    --input: 253 6% 89%;
    --primary: 92.34 51.2% 50.98%;
    --primary-foreground: 0 0% 100%;
    --secondary:264, 32%, 55%;
    /*--secondary: 282.93 91.84% 48.04%;*/
    --secondary-foreground: 0 0% 100%;
    --accent: 92.34 51.2% 50.98%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 96% 26%;
    --destructive-foreground: 18 0% 100%;
    --ring: 282.93 91.84% 48.04%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 260, 47%, 4%;
    --foreground: 253 20% 99%;
    --muted: 223 38% 6%;
    --muted-foreground: 223 0% 100%;
    --popover: 253 0% 0%;
    --popover-foreground: 0 0% 100%;
    --card: 228.68 89.21% 0.33%;
    --card-foreground: 0 0% 100%;
    --border: 253 6% 10%;
    --input: 253 6% 10%;
    --primary: 92.34 51.2% 50.98%;
    --primary-foreground: 0 0% 100%;
    --secondary:264, 32%, 55%;
    /*--secondary: 282.93 91.84% 48.04%;*/
    --secondary-foreground: 0 0% 100%;
    --accent: 92.34 51.2% 50.98%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 96% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 282.93 91.84% 48.04%;
  }
}


/*@layer base {*/
/*  :root {*/
/*    --background: 253 48% 99%;*/
/*    --foreground: 253 78% 4%;*/
/*    --muted: 223 38% 94%;*/
/*    --muted-foreground: 223 8% 39%;*/
/*    --popover: 253 48% 98%;*/
/*    --popover-foreground: 253 78% 3%;*/
/*    --card: 253 48% 98%;*/
/*    --card-foreground: 253 78% 3%;*/
/*    --border: 253 6% 89%;*/
/*    --input: 253 6% 89%;*/
/*    --primary: 92.34 51.2% 50.98%;*/
/*    --primary-foreground: 0 0% 100%;*/
/*    --secondary: 282.93 91.84% 48.04%;*/
/*    --secondary-foreground: 0 0% 100%;*/
/*    --accent: 92.34 51.2% 50.98%;*/
/*    --accent-foreground: 0 0% 100%;*/
/*    --destructive: 18 96% 26%;*/
/*    --destructive-foreground: 18 0% 100%;*/
/*    --ring: 282.93 91.84% 48.04%;*/
/*    --radius: 0.5rem;*/
/*  }*/

/*  .dark {*/
/*    --background: 253 50% 4%;*/
/*    --foreground: 253 20% 99%;*/
/*    --muted: 223 38% 6%;*/
/*    --muted-foreground: 223 8% 61%;*/
/*    --popover: 253 50% 5%;*/
/*    --popover-foreground: 0 0% 100%;*/
/*    --card: 253 50% 5%;*/
/*    --card-foreground: 0 0% 100%;*/
/*    --border: 253 6% 10%;*/
/*    --input: 253 6% 10%;*/
/*    --primary: 92.34 51.2% 50.98%;*/
/*    --primary-foreground: 0 0% 100%;*/
/*    --secondary: 282.93 91.84% 48.04%;*/
/*    --secondary-foreground: 0 0% 100%;*/
/*    --accent: 92.34 51.2% 50.98%;*/
/*    --accent-foreground: 0 0% 100%;*/
/*    --destructive: 18 96% 49%;*/
/*    --destructive-foreground: 0 0% 100%;*/
/*    --ring: 282.93 91.84% 48.04%;*/
/*  }*/
/*}*/






@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: 'Helvetica Neue', sans-serif;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.lab-bg {
  --mask-offset: 100px;
  -webkit-mask: linear-gradient(
      to bottom,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    );
  mask: linear-gradient(
      to bottom,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      #fff var(--mask-offset) calc(100% - var(--mask-offset)),
      transparent
    );
  /* -webkit-mask: radial-gradient(circle at 50% 50%,transparent 0,#fff calc(100% - var(--mask-offset)),transparent 100%); */
  -webkit-mask-composite: source-in, xor;
  mask-composite: intersect;
}
